#!/bin/sh

export GOBIN=$PWD/bin/go
export PATH=$(pwd)/bin:$PATH
export PATH=$GOBIN:$PATH
export DBMATE_MIGRATIONS_DIR=./db/migrations/
export DATABASE_URL=sqlite3:file:./data/litefs-backup.db
export BUCKET_NAME=dev
export LFSB_BIND="127.0.0.1:2200"
export LFSB_DATA_PATH="./data/lfsb"

[[ -f .envrc.local ]] && source_env .envrc.local
