#!/bin/sh

export GOBIN=$PWD/bin/go
export PATH=$(pwd)/bin:$PATH
export PATH=$GOBIN:$PATH
export DBMATE_MIGRATIONS_DIR=./db/migrations/
export DATABASE_URL=sqlite3:file:./data/litefs-backup.db

[[ -f .envrc.local ]] && source_env .envrc.local
